/* Reset & General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* === Typography Base Styles === */
body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-1);
    /* Black text by default */
    background-color: var(--color-bg-1);
    /* White background */
}